* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh; /* Allow it to grow beyond screen size */
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}